# Dependências
node_modules/

# Variáveis de ambiente reais (nunca commitar)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/migrations/

# Editor
.DS_Store
.vscode/
